Without feature selection, feature engineering, hyper-perameter tuninng just apply multiple linear regression for practices purpose.

## Multiple Linear Regression
Multiple Linear Regression বলতে বোঝায় এমন একটি মডেল, যেখানে আমাদের টার্গেট ভ্যালু বা প্রেডিক্টেড ফলাফল একটি হলেও, সেই টার্গেট ভ্যালুটি অনেকগুলো বৈশিষ্ট্য বা ফিচারের উপর নির্ভর করে। অর্থাৎ, যখন কোনো একটি নির্দিষ্ট ফলাফল (যেমন কারো মেডিকেল খরচ বা পরীক্ষার নম্বর) নির্ধারিত হয় একাধিক বিষয় (যেমন বয়স, ওজন, ইনকাম, শিক্ষা) দ্বারা — তখন আমরা এই সমস্ত ফিচার একত্রে ব্যবহার করে একটি প্রেডিকশন মডেল তৈরি করি। <br>
ইন্টারসেপ্ট (Intercept) বলতে বোঝায় টার্গেট কলামের একটি নির্দিষ্ট বা স্থায়ী মান। অর্থাৎ, যদি আমাদের সব ফিচারের মান ০ হয়, তাহলেও মডেল একটি প্রেডিকশন ভ্যালু দিবে — সেটিই হলো ইন্টারসেপ্ট। এটি হলো আমাদের বেসলাইন মান। <br>
স্লোপ (Slope) বা কো-ইফিশিয়েন্ট মানে হচ্ছে — প্রতিটি ফিচারের সাথে টার্গেটের সম্পর্ক কতটা। সহজভাবে বললে, একটি ফিচারের মান এক ইউনিট বাড়লে, প্রেডিকশন কতটা বাড়বে বা কমবে, সেটাই স্লোপ দ্বারা বোঝানো হয়। অর্থাৎ, কোনো ফিচারের মান যত বাড়বে, তার ওজন (weight) বা প্রভাব অনুযায়ী প্রেডিকশনেও সেই পরিবর্তনের প্রতিফলন দেখা যাবে।

#### Steps:
* Datset load
* define target and input featurs
* train test split
* Model train/ make object. fit(traiing dataset)
* pridition X-test dataset use
* Evaluate (error)
* check co-efficent

In [1]:
# import all importat libraires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [2]:
hprice = pd.read_csv('house-price.csv')
hprice.head(3)

                  date      price  bedrooms  ...       city  statezip  country
0  2014-05-02 00:00:00   313000.0       3.0  ...  Shoreline  WA 98133      USA
1  2014-05-02 00:00:00  2384000.0       5.0  ...    Seattle  WA 98119      USA
2  2014-05-02 00:00:00   342000.0       3.0  ...       Kent  WA 98042      USA

[3 rows x 18 columns]

In [4]:
hprice.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [5]:
# work with the date: bedroom,sqrt_liviing,price,floors
# check data types
hprice.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [6]:
# work with the date: bedroom,sqrt_liviing,price,floors
df = hprice[['bedrooms','sqft_living','floors','price']]
df.head(3)

   bedrooms  sqft_living  floors      price
0       3.0         1340     1.5   313000.0
1       5.0         3650     2.0  2384000.0
2       3.0         1930     1.0   342000.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bedrooms     4600 non-null   float64
 1   sqft_living  4600 non-null   int64
 2   floors       4600 non-null   float64
 3   price        4600 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 143.9 KB

In [9]:
# define X and y
X = df[['bedrooms','sqft_living','floors']]
X.head()

   bedrooms  sqft_living  floors
0       3.0         1340     1.5
1       5.0         3650     2.0
2       3.0         1930     1.0
3       3.0         2000     1.0
4       4.0         1940     1.0

In [10]:
y = df['price']
y.head()

0     313000.0
1    2384000.0
2     342000.0
3     420000.0
4     550000.0
Name: price, dtype: float64