#### Tuples
A tuples in python is similar to a list. The difference between the two is that we can not change the elements of a touple once it is assigned where we can change the elements of a list.<br>
Characterstics:<br>
1. Ordered <br>
2. Uncahngable <br>
3. Allows duplicates

In [1]:
# Creating touples
# empty
t = ()
t

()

In [2]:
# create a tuple with a single item
t = (2,0)
t

(2, 0)

In [3]:
# homogeneous tuple
t = (1,2,3,4)
type(t)

tuple

In [4]:
# hetrrogeneous
t = (3,5,2,3,4,5,(3,4),[4,5],True)
t

(3, 5, 2, 3, 4, 5, (3, 4), [4, 5], True)

In [5]:
# 2D tuples
t = (3,4,5,(5,6))
t

(3, 4, 5, (5, 6))

In [6]:
# using type conversion
t = tuple('subena')
t

('s', 'u', 'b', 'e', 'n', 'a')

In [7]:
# Accessing item
# idexing
t = (1,2,3,4,5,6,7,8,9,10)
t[1]

2

In [8]:
t[::-1] # reverse a tuple

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [9]:
# slicing
t[3:5]

(4, 5)

In [11]:
# Editing and adding , update can not

In [ ]:
# deleting jut whole tuple but can not specific index or value

In [12]:
# Operations on Tuple
# + and *
# membership
# iterator

t1 = (1,2,3,4)
t2 = (5,6,7,8)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [14]:
# iterator
for i in t1:
    print(i*2)

2
4
6
8

In [16]:
# Tuples functions: len(), sum(),max(),min() --- common functions
t = (4,7,8,9,40,5,6,4,7,8)
max(t)

40

In [17]:
min(t)

4

In [18]:
sum(t)

98

In [19]:
len(t)

10

#### Difference between tuple and lists
1. Syntax: 
tuple: (), list: [] <br>
2. Mutability. <br>
tuple: can not change any value list can <br>
3. Speed: tuple: more speed <br>
4. Memory: less memory <br>
5. built in functionality list more tuple less <br>
6. Error prone: for debuging tuple better <br>
7. Visability: tuple can just read . change+update = list

In [20]:
# check speed
import time 
l = list(range(100000))
t = tuple(range(100000))
start = time.time()
for i in l:
    i*5
print(time.time()-start)

0.03841042518615723

In [21]:
start = time.time()
for i in t:
    i*5
print(time.time()-start)

0.041342735290527344

In [22]:
# memory test
import sys
l = list(range(100000))
t = tuple(range(100000))
print(sys.getsizeof(l))
print(sys.getsizeof(t))

800056
800040

In [26]:
# swaping check
a = [1,2,3]
b = a
a.append(59)
print(a,b)

[1, 2, 3, 59] [1, 2, 3, 59]

In [25]:
a = (1,2,3)
b = a
a = a + (4,)
print(a,b)

(1, 2, 3, 4) (1, 2, 3)

In [27]:
# Special syntex: tuple unpacking
a,b,c = (1,4,5)
print(a,b,c)

1 4 5

In [28]:
# varaible swap
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [30]:
a,b,*others = (2,3,(5,6,70),68)
a

2

In [31]:
b

3

In [32]:
others

[(5, 6, 70), 68]

In [33]:
# zipping tuple
a = (1,2,3)
b = (4,5,6)
zip(a,b)

In [34]:
tuple(zip(a,b))

((1, 4), (2, 5), (3, 6))

In [35]:
print(list(zip(a,b)))

[(1, 4), (2, 5), (3, 6)]

### Sets
A set is an ordered collection of items. Every set element in unique ( no duplicates) and must be immutable ( can not be changed). However a set itself is mutable. We can add or remove items from it. <br>
sets can also be used to perform mathematical set operations like union, intersection,symmetics differencec etc.<br>

Characterestics:<br>
1. unordered <br>
2. Mutable <br>
3. No duplicates <br>
4. can not contain mutuable tada types

In [36]:
# creating set
# empty
s = {}
s

{}

In [38]:
# type conversion
a = {4,8,9}
set(a)

{4, 8, 9}

In [39]:
# 1D and 2D 
s1 = {1,2,3}
s2 = {1,2,3,{4,5,6}} # 2d not possible
print(s1,s2)

TypeError: unhashable type: 'set'

In [40]:
# hetrogenous
s = {3,4,[3,4,5], 5.6,(3,4,5),True}
s

TypeError: unhashable type: 'list'

In [42]:
s = {3,4, 5.6,(3,4,5),True}
s

{(3, 4, 5), 3, 4, 5.6, True}

In [44]:
s = {1,2,3,4,True,False} # True means in set =1
s

{False, 1, 2, 3, 4}

In [46]:
noduplicates = {2,3,5,6,7,2,3,4}  # print any value at a time
noduplicates

{2, 3, 4, 5, 6, 7}

In [48]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {3,1,2}
s1==s2

False

In [49]:
s1==s3 # no need order maintain just foucs same value or not

True

In [51]:
# Accessing items and editing items not allow
# Adding items
# add--> just one value at a time
s = {1,2,3}
s.add(5)
s

{1, 2, 3, 5}

In [52]:
# update: add one or more value at a time
s.update([2,56,8])
s

{1, 2, 3, 5, 8, 56}

In [53]:
# delete: can not delete seperate value positinion just clear all set or del set

In [57]:
# discord: one valu at a time delet
s = {2,3,4,5,5,6,6,7}
s.discard(5)
s

{2, 3, 4, 6, 7}

In [62]:
# pop: randomy delete
s.pop()
s

{6, 7}

In [63]:
# sets operations
# union (|)
# intersections (&)
# Difference ( - )
# Symmetric difference ( ^ )
#  Iteration

In [64]:
# union: just 2 set common + uncommon value add
a = {2,3,4,6,7,7,8}
b = {2,4,8,9,0,10}
a.union(b)

{0, 2, 3, 4, 6, 7, 8, 9, 10}

In [65]:
a|b

{0, 2, 3, 4, 6, 7, 8, 9, 10}

In [66]:
a.intersection(b)

{2, 4, 8}

In [67]:
a&b

{2, 4, 8}

In [68]:
a.difference(b)

{3, 6, 7}

In [69]:
a-b

{3, 6, 7}

In [72]:
a.symmetric_difference(b)

{0, 3, 6, 7, 9, 10}

In [73]:
a^b

{0, 3, 6, 7, 9, 10}

In [74]:
a in b

False

In [75]:
3 not in b

True

In [76]:
a.update([20,30,40])
a

{2, 3, 4, 6, 7, 8, 20, 30, 40}

In [77]:
a.isdisjoint(b)

False

In [78]:
a.issubset(b)

False

In [83]:
c = a.copy()

In [84]:
c

{2, 3, 4, 6, 7, 8, 20, 30, 40}

In [85]:
# frozenset
# Frozenset is just an immutable version of a python
# create  frozenset
a = frozenset([12,4,56,7])
a

frozenset({4, 7, 12, 56})

In [86]:
# set comprehensions
{i for i in range(1,10)}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Dictioanry
Dictionary in python is a collection of keys values, used to store data values like a map, which unlike other data types which hold only a single value as an element. <br>
In some lanaguages it is know as map or associative arrays.<br>
associative array: <br>
d = {'name': 'subena', 'age':30,'gender':'female}

Characteristics: <br>
1. mutable: can change , delete,add <br>
2. Indexing has no meaning <br>
3. keys can not be duplicated <br>
4. keys can not be mutable items

In [88]:
# create dictionary
# emplty = {}
d = {}
d

{}

In [91]:
# 1D
d = {'name': 'subena', 'age':30,'gender':'female'}
d

{'name': 'subena', 'age': 30, 'gender': 'female'}

In [92]:
# with mixed keys
d = {'name': 'subena', 'age':30,'gender':'female',(1,2,3): 100}
d

{'name': 'subena', 'age': 30, 'gender': 'female', (1, 2, 3): 100}

In [93]:
# 2D dictionary
d = {'name': 'subena', 'age':30,'gender':'female','subejcts':{
        'Bangla':60,
        'english':90
}}
d

{'name': 'subena',
 'age': 30,
 'gender': 'female',
 'subejcts': {'Bangla': 60, 'english': 90}}

In [94]:
# type conversion
d = dict([(1,2),(3,4),(5,6)])
d

{1: 2, 3: 4, 5: 6}

In [95]:
# can not have duplicates keys
d = dict([(1,2),(3,4),(5,6),(5,6)])
d

{1: 2, 3: 4, 5: 6}

In [96]:
# mutable items as keys. but use list
d = {'name': 'subena', 'age':30,'gender':'female',(1,2,3): 100}
d

{'name': 'subena', 'age': 30, 'gender': 'female', (1, 2, 3): 100}

In [97]:
# accessing items:
#dict[keyname]
d['name']

'subena'

In [98]:
# get(keyname)
d.get('name')

'subena'

In [101]:
# 2d 
d2 = {'name': 'subena', 'age':30,'gender':'female','subejcts':{
        'Bangla':60,
        'english':90
}}
d2['subejcts']['Bangla']

60

In [103]:
# adding keey-value pair
d['name'] = 'Mother of Dragon'
d

{'name': 'Mother of Dragon', 'age': 30, 'gender': 'female', (1, 2, 3): 100}

In [ ]:
# remove key-valu pair: pop(keyname), popitem() auto last key value pair delete,del, clear()

In [104]:
d.pop('age')

30

In [105]:
d

{'name': 'Mother of Dragon', 'gender': 'female', (1, 2, 3): 100}

In [106]:
d.popitem()
d

{'name': 'Mother of Dragon', 'gender': 'female'}

In [107]:
# dictionary operations. 1: membership. 2. iteration
'subena' in d

False

In [108]:
# output keys
for i in d:
    print(i)

name
gender

In [109]:
# output values
for i in d:
    print(d[i])

Mother of Dragon
female

In [110]:
# output keys + values
for i in d:
    print(i,d[i])

name Mother of Dragon
gender female