In Python speifically , strings area sequence of unicode characters.<br>
1. creating strings <br>
2. Accessecing string <br>
3. adding characters to string <br>
4. Deleting strings <br>
5. Operations on strings <br>
6. Editing strings <br>
7. String functions

In [1]:
# Creating strings: i. single quote ii. Double iii. multiple line iv. type conversion

In [2]:
single = 'My name is Subena'
double = "Mother's of Dhoha"
multiline = """
I have a daughter.
She loves me more than i love her.
She always take care me.
Love of my life my daughter.
"""
typeconv = str(2345)

In [3]:
single

'My name is Subena'

In [4]:
double

"Mother's of Dhoha"

In [5]:
multiline

'\nI have a daughter.\nShe loves me more than i love her.\nShe always take care me.\nLove of my life my daughter.\n'

In [6]:
typeconv

'2345'

In [7]:
# accessing substring from a string
# indexinf- 0,1,2,3,4-----
s = "My name is Subena"
fp = s[0]
print(fp)

M

In [8]:
# negative indexing
lstp = s[-4] # last to first count.
print(lstp)

b

In [9]:
# slicing
# first to last
print(s[:])

My name is Subena

In [10]:
print(s[::])

My name is Subena

In [11]:
# 2 no postion to 8 no postion
print(s[2:9])

 name i

In [12]:
# 4 to last
print(s[4:])

ame is Subena

In [13]:
# from 2 to 10 but every 2 step
print(s[2:10:2])

 aei

In [14]:
# from 1 to lat but every 2 step
print(s[2:-1:2])

 aei ue

In [15]:
# Negative slicing
print(s[-6:])

Subena

In [16]:
print(s[-2:-8:-1])

nebuS

In [17]:
# revesly print
print(s[-1:-14:-1])

anebuS si ema

In [18]:
# revesly print
print(s[-1:-14:-2])

aeu iea

In [19]:
# editing and deleting
# string can not edit. immuatble
s1 = 'hello'
del s1
print(s1)

NameError: name 's1' is not defined

In [ ]:
# operations on strings
# arithmetic
# relational
# logical
# loops on strings
# membership : in , not in

In [ ]:
# arithmeti: +, *
s1 = 'My '
s2 = 'name '
s3 = 'is '
s4 = 'Subena'
fullName = s1 + s2 + s3 + s4
print(fullName)

In [ ]:
name = s4*4
print(name)

In [ ]:
# Relational
'Subena' == 'Subena'

In [20]:
'Subena' != 'Subena'

False

In [21]:
'Subena' == 'subena'

False

In [22]:
'Dhoha' > 'Subena'

False

In [23]:
# logical
'Dhoha' and 'Subena'

'Subena'

In [24]:
 'Dhoha' or 'Subena'

'Dhoha'

In [25]:
not 'Subena'

False

In [26]:
# loops strings:
s = 'Ami Dhohar Ma'
for i in s:
    print(i)

A
m
i

D
h
o
h
a
r

M
a

In [27]:
for i in range(1,len(s)):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [28]:
len(s)

13

In [29]:
# membership
's' in 'Subena'

False

In [30]:
# common: len()/ max()/ min()/ sorted
s = "My name is Subena"
l = len(s)
m = max(s)
mi = min(s)
sort = sorted(s)
print(l,m,mi,sort)

17 y   [' ', ' ', ' ', 'M', 'S', 'a', 'a', 'b', 'e', 'e', 'i', 'm', 'n', 'n', 's', 'u', 'y']

In [31]:
m

'y'

In [32]:
mi

' '

In [33]:
len(sort)

17

In [34]:
for i in sort:
    print(i)

M
S
a
a
b
e
e
i
m
n
n
s
u
y

In [35]:
# capitalize, title, upper, lower,swapcase
# capitalize
s.capitalize()

'My name is subena'

In [36]:
s.upper()

'MY NAME IS SUBENA'

In [37]:
s.lower()

'my name is subena'

In [38]:
s.swapcase()

'mY NAME IS sUBENA'

In [39]:
s.title()

'My Name Is Subena'

In [40]:
# count/find/index/ensdwith/startwith/format/isalnum/isalpha/isdigit/isidentifier/split/join/replace/strip

In [41]:
s.count('subena')

0

In [42]:
s

'My name is Subena'

In [43]:
s.count('a')

2

In [44]:
s.find('a') # position output

4

In [45]:
s.index('a') # same as find

4

In [46]:
s.endswith('na')

True

In [47]:
s.startswith('Sub')

False

In [48]:
name = 'Subena'
age = 28
byear = 1995
print('my name is {}. my age is {} and my birth year is{}'.format(name,age,byear))

my name is Subena. my age is 28 and my birth year is1995

In [49]:
s.isalnum()

False

In [50]:
s.isalpha()

False

In [51]:
s.isdigit()

False

In [52]:
s.isidentifier()

False

In [53]:
# split and join
s

'My name is Subena'

In [54]:
s1 = s.split() # wor alada kore fela

In [55]:
'+'.join(s1)

'My+name+is+Subena'

In [56]:
for i in s1:
    print(i)

My
name
is
Subena

In [57]:
# replace
s.replace("Subena","Mother of Dhoha")

'My name is Mother of Dhoha'

In [58]:
s.strip()

'My name is Subena'

In [59]:
s3 = "  hello  "
s3.strip() # remove unnecessary space

'hello'