## List in Python

1. What are list? <br>
2. Lists vs Array <br>
3. Characterstics of a list <br>
4. How to create a list? <br>
5. Access items from a list. <br>
6. Editing items in a list. <br>
7. Deleting Items from a list <br> 
8. Operations on lists <br>
9. Functions on a list <br>

What are list? <br>
List is a data type where you can store multiple items under 1 nmae. More technically , lists act like dynamic arrays which means you can add more items on the fly. <br>
l = [20,"name", 4554.46, [40,50,60]]

Array vs List <br>
1. Fixed vs Dynamic size <br>
2. Convenience VS Hetrogeneous <br>
3. Speed of Execution : array speed more , list slow <br>
4. Memory <br>
5. Referential array

In [1]:
# id() function: just show every individual value it
l = [1,2,3,4,5,6]
print(id(l))

1306368197888

In [2]:
print(id(l[0]))

140721363522344

In [3]:
print(id(1))

140721363522344

In [4]:
print(id(2))

140721363522376

In [5]:
print(id(3))

140721363522408

In [6]:
print(id(l[1]))

140721363522376

In [7]:
print(id(l[2]))

140721363522408

Characterstics of a list: <br>
1. ordered <br>
2. Changable/ Mutuable <br>
3. Hetrogeneous <br>
4. Can have duplicates <br>
5. Are dynamic <br>
6. Can be nested <br>
7. Items can be accessed <br>
8. Can contain any kind of objects in Python

Creating a list: <br>
1. empty <br>
2. 1D <br>
3. 2D <br>
4. 3D <br>
5. Hetrogeneous <br>
6. Using Type Conversion

In [8]:
# empty list
l = []
print(l)

[]

In [9]:
# 1D + homogeneous
l = [1,2,3,4,6]
print(l)

[1, 2, 3, 4, 6]

In [10]:
l

[1, 2, 3, 4, 6]

In [11]:
# 2D list-> nested list -> Homogeneous
l = [[[2,3,4],[5,6,7]],[[1,2,3],[4,5,6]]]
l

[[[2, 3, 4], [5, 6, 7]], [[1, 2, 3], [4, 5, 6]]]

In [12]:
# Hetrogeneous:
l = [4,8,3,6,9,'subena',5.6,[3,4,5],True]
l

[4, 8, 3, 6, 9, 'subena', 5.6, [3, 4, 5], True]

In [13]:
# Type conversion
l = list('Subena')
l

['S', 'u', 'b', 'e', 'n', 'a']

Accessing items from a list: <br>
1. Indexing <br>
2. Slicing

In [14]:
# indexing
l = [1,2,3,4,5,6,7,8,9,10]
l[0] # postitive indexing - 1st position value

1

In [15]:
l[4]

5

In [16]:
# negative indexing
l[-3]

8

In [17]:
# slicing
l[:] # print all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
l[::] # print all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
l[2:4] # print 2 no postion to before 4 no positin value

[3, 4]

In [20]:
l[2:8:2] # no postion to before 8 no postiion but step  2

[3, 5, 7]

In [21]:
l[2:8:3]

[3, 6]

In [22]:
# negative slicing
l[1:-4] # start form 1 positon end negative 4 position before

[2, 3, 4, 5, 6]

In [23]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
l[1::-1]

[2, 1]

In [25]:
l[3::4] # start from 3 no postion then every 4 step

[4, 8]

In [26]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,1,41,15,16,17,18,19,20]
l[4::3] # start from 4 no postion then every 3 step

[5, 8, 11, 1, 16, 19]

In [28]:
l[3::-2] # j jaygay theke suru oi jaygay theke negative indexing borabor step

[4, 2]

In [29]:
# 2D list indexing
d2 = [[4,8,9],[4,6,8]]
d2

[[4, 8, 9], [4, 6, 8]]

In [30]:
d2[0]

[4, 8, 9]

In [31]:
d2[1][2] + d2[0][0]

12

In [32]:
# negative indexing
d2[-1][-3]

4

In [33]:
# 3D indexing
l = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]],[[13,14,15],[16,17,18]]]
l

[[[1, 2, 3], [4, 5, 6]],
 [[7, 8, 9], [10, 11, 12]],
 [[13, 14, 15], [16, 17, 18]]]

In [34]:
l[0][1][1] # first row then 2nd row then 2nd column

5

In [35]:
#  reverse a list
l = [1,2,3,4,5,6,7,8,9,10]
l[::-2]

[10, 8, 6, 4, 2]

#### Adding items to a list: <br>
1. append(value).  If i want add any number in a list then use this function and value will be added in the last of list. <br>
2. extend(value1,value2). If i want add more than one number in a list then use this function and value will be added in the last of list.<br>
3. insert(position number, added value). If i want add value with a required postion the use this one.

In [36]:
a = [2,4,6]
# want to add 6
a.append(8)
a

[2, 4, 6, 8]

In [37]:
# extend 
a.extend([9,10])
a

[2, 4, 6, 8, 9, 10]

In [38]:
# insert()
a.insert(3,120)
a

[2, 4, 6, 120, 8, 9, 10]

#### Editing existings iteams in a list

In [39]:
a = [2,3,4,7,8,9]
a[1]= 10000
a

[2, 10000, 4, 7, 8, 9]

In [40]:
# want to add 4 positon to 8 postion values
b = [12,13,14,15,16,17,18,19,10]
b[4:8]= [1000,2000,3000,4000]
b

[12, 13, 14, 15, 1000, 2000, 3000, 4000, 10]

In [41]:
len(b)

9

#### Deleting item from a ist
1. det. delete any list or can delete list postion based value. <br>
2. remove(value). remove any value no need to declar postion no <br>
3. pop(index no). can delete specifi index value. <br>
4. clear().  clear whole list then print this is an empty list.

In [42]:
a = [2,3,4,5,6]
b = [7,8,9,0]
c = [58,95,62]
del c

In [43]:
c

NameError: name 'c' is not defined

In [ ]:
del(a[-1])

In [ ]:
a

In [ ]:
# slicing deletion
del(b[0:2])

In [ ]:
b

In [ ]:
# remove
a = [4,5,6,7,8,9,10]
a

In [ ]:
a.remove(7)

In [ ]:
a

In [ ]:
a = [4,5,6,7,8,9,10,4,7,8,9,4,4]
a.remove(4)
a

In [ ]:
a.remove(4)
a

In [ ]:
# pop
a.pop(0)

In [ ]:
a

In [ ]:
a.pop(5)

In [ ]:
a

In [ ]:
# clear 
x = [3,4,5]
x.clear()

In [44]:
x

NameError: name 'x' is not defined

Operations on list. <br>
1. Arithmetic . +, * <br>
2. Membership . in, not in

In [45]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [10,9,8,7,6,5,4,3,2,1]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:
a*2 # a repated 2 times then merge all

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
a + b # it also marge 2 list or combine

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
# membership operators
5 in a

True

In [50]:
5 not in a

False

In [51]:
[4,6] in a

False

#### list functions
1. len() --- to show lenghth a list. <br>
2. max() -- find maximum value from the list. <br>
3. min() --- find minimum value in the list <br>
4. count(value) -- count how many time a value in list. <br>
5. sorted(listname) -- sort a list but not permanently <br>
6. index(value) --- find index positon of any value. <br>
7. reverse--- reverase a list. <br>
8. list name.sort() -- sort permanantly a list. <br>
9. id(list value/indx/list) -- id of any one. <br>
10. list name.copy() -- same to same copy any list.

In [52]:
a = [4,5,6,7,8,9]
b = [1,2,3,4,5,6]

In [53]:
# max
max(a)

9

In [54]:
# min
min(a)

4

In [55]:
id(a)

1306381289536

In [56]:
id(a[0])

140721363522440

In [57]:
c = a.copy()
c

[4, 5, 6, 7, 8, 9]

In [58]:
c.index(4)

0

In [59]:
c.reverse()

In [60]:
c

[9, 8, 7, 6, 5, 4]

In [61]:
sorted(c)

[4, 5, 6, 7, 8, 9]

In [62]:
c.sort()

In [63]:
c.append(4)

In [64]:
c

[4, 5, 6, 7, 8, 9, 4]

In [65]:
c.count(4)

2

#### list comprehension
Kist comprehension provides a concise way of creating lists.<br>
newlist = [expression for item in iterable if condition == True] <br>
Advantage of list comprehension: <br>
1. More time efficient and space efficient then loops. <br>
2.  Require fewer lines of code. <br>
3. Transfroms interactive statemnet into a formula.

In [66]:
# Add 1 to 10 number to a list
a = [i for i in range(1,11)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [68]:
# Scaller mulp=tiplication on a vector
v = [2,3,4]
s = -3
b = [s*i for i in v]
b

[-6, -9, -12]

In [69]:
# Add square
s = [2,3,4,5]
squar = [i**2 for i in s]
squar

[4, 9, 16, 25]

In [70]:
# print all number diuvisible by 5 in the range of 1 to 50
r = [i for i in range(1,51) if i%5 == 0]
r

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [71]:
# Find languages which start with letter p.
langauges = ['python','ruby','java','javascript','php']
l = [i for i in langauges if i.startswith('p')]
l

['python', 'php']

In [72]:
# Nested if with list comprehension.
# Add nuwlist from mylist ans items if the fruits exists in basket and also startswith 'a'
basket = ['apple','guava','cherry','banana']
mylists = ['apple','kiwi','grapes','bananas']
newlist = [i for i in mylists if i in basket if i.startswith('a')]
newlist

['apple']

In [73]:
# print (3,3) matrics using list comprehenshion
m = [i*j [for i in range(1,4) [for j in range(1,4)]]
m

SyntaxError: invalid syntax (1485497839.py, line 2)

In [74]:
# certesian products
a = [1,2,3,4]
b = [5,6,7,8]
c = [i*j for i in a for j in b]

In [75]:
c

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

### 2 wyas to travase a list
1. itemwise <br>
2. indexwise

In [76]:
# itemwise
a = [2,4,6,8]
for i in a:
    print(i)

2
4
6
8

In [77]:
# indeswise
for i in range(0,len(a)):
    print(i)

0
1
2
3

### zip(list1,list2)
The zip() function returns a zip objects which is an iterator of tuples whare the first item in each passed iterators is paird togther and then the second item in each passed itertion are paired together. If the passed oterators have different length, the iterator with the least items decides the length of the new iterator.

In [78]:
a = [1,2,3,4]
b = [-1,-2,-3,-4]
zip(a,b)

In [79]:
list(zip(a,b))

[(1, -1), (2, -2), (3, -3), (4, -4)]

In [80]:
c = [i*j for i,j in zip(a,b)]
c

[-1, -4, -9, -16]

In [81]:
d = []
for i in a:
    for j in b:
        d.append(a[i]+b[j])
print(d)

IndexError: list index out of range