### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print("Data" ,"Science", "Mentorship", "Program","By" ,"CampusX", sep="-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [2]:
cel = 32
ferhen = (cel*9/5)+cel
print(ferhen)

89.6

In [6]:
cel = float(input("Enter a Celceius Scale measurement: "))
fern = (cel*9/5)+32
print(f'{fern} F')

Enter a Celceius Scale measurement: 85
185.0 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
a = int(input("Enter number a: "))
b = int(input("Enter number b: "))
print(f"Before swap: {a} and {b}")
a,b = b,a 
print(f"After swap: {a} and {b}")

Enter number a: 85
Enter number b: 96
Before swap: 85 and 96
After swap: 96 and 85

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
x,y = 5,6
x1,y1 = 8,6
z = (((x1-x)**2) + ((y1-y)**2))**0.5
print(z)

3.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [10]:
principle = int(input("Enter principle value: "))
rateofint = float(input("Enter interest rate: "))
time = int(input("Enter Time: "))
simin = (rateofint/100)*principle*time
print("Somple Interest: ",simin)

Enter principle value: 9865742
Enter interest rate: 89
Enter Time: 96
Somple Interest:  842928996.48

In [ ]:
#(7/100)*1000*2

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input("Enter head numbers: "))
legs = int(input("Enter legs Number: "))
if head %

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [16]:
n = int(input("N natural Numbers: "))
for i in range(1,n+1):
    i = i**2
    print(i, end=" ")

N natural Numbers: 5
1 4 9 16 25

In [23]:
# sum of n natural number
n = int(input("N natural Numbers: "))
sum = 0
for i in range(1,n+1):
    i = i**2
    sum = sum + i
    print(i, end=" ")
print("\nSum on N Natural number: ",sum)

N natural Numbers: 10
1 4 9 16 25 36 49 64 81 100
Sum on N Natural number:  385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [27]:
n = int(input("Enter a number: "))
a = int(input("First number: "))
b = int(input("Second Number: "))
d = b-a
nthnumber = a+(n-1)*d
print(nthnumber)

Enter a number: 6
First number: 1
Second Number: 3
11

In [30]:
# sum of nth natural number
n = int(input("Enter a number: "))
a = int(input("First number: "))
b = int(input("Second Number: "))
d = b-a
s = (n/2(2*a+(n-1)*d))
print(s)

<>:6: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:6: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?

Enter a number: 9
First number: 1
Second Number: 3

C:\Users\User\AppData\Local\Temp\ipykernel_13680\3426496700.py:6: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  s = (n/2(2*a+(n-1)*d))

TypeError: 'int' object is not callable

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
nu1 = int(input("Enter numerator of fration1"))
nu2 = int(input("Enter numerator of fration2"))
de1 = int(input("Enter denominator of fration2"))
de2 = int(input("Enter denominator of fration2"))
frc1 = nu1/de1
frc2 = nu2/de2

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [2]:
a = int(input())
b = int(input())
c = int(input())
d = a + b + c
if d == 180:
    print("Make a Traingle")
else:
    print("Please provide exact agnles")

80
120
60
Please provide exact agnles

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [5]:
value = str(input())
if value == "1":
    print("cm to fit")
elif value == "2":
    print("km to miles")
elif value == "3":
    print("USD to INR")
else:
    print("Exit")

2
km to miles

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [7]:
#THink again

Enter number: 5
1
3
6
10
15

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

### `Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

### Problem 10: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

### `Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

### `Problem 12`:Write a program to print whether a given number is a prime number or not

In [24]:
num = int(input("Enter a number: "))
if num % 2 == 1:
    print("The number is Prime")
else:
    print("The is not a prime number.")

Enter a number: 4
The is not a prime number.

### `Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

### `Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

### `Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>