In [1]:
# import important modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("homeprices.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
# check null value
df.isnull().any()

area        False
bedrooms     True
age         False
price       False
dtype: bool

In [10]:
bedr = df.bedrooms.median()
bedr

4.0

In [12]:
df.bedrooms = df.bedrooms.fillna(bedr)
df.bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [13]:
reg = LinearRegression()
reg

LinearRegression()

In [14]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [15]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [16]:
reg.intercept_

221323.00186540425

In [18]:
reg.predict([[3200,3,18]])

array([591918.53395866])

In [19]:
# using formula
# y = m1*area+m2*bedrooms+m3*age + price
y = 112.06244194 * 3200 + 23388.88007794 * 3 +  -3231.71790863 * 18 + 221323.00186540425
y

591918.5339518844

In [ ]:
# the prediction is right